// Purpose: This document includes all variables used in this project


// Spacing Scale Sizes
$space-xs: 4px;
$space-s: 8px;
$space-base: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 40px;

// Font Sizes
$font-size-h1: 40px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-base: 16px;
$font-size-s: 12px;
$font-size-xs: 9px;

// Font types
$font-heading: 'Frank Ruhl Libre', serif;
$font-paragraph: 'Montserrat', sans-serif;

//colors
$color-primary: rgb(100, 66, 120);
$color-primary-light: #B29AB9;
$color-secondary: #5D98C3;
$color-neutral-0: #fff;
$color-neutral-1: #ecf0f1;
$color-neutral-2: #c9caca;
$color-neutral-3: #7f8c8d;